/*styles for all of the webpage*/
.basic
{
	font-family: 'Lora', serif;
	text-align: center;
	background-color: #def4f0;
}
/*Logo*/

.reduced-size
{
	width: 10rem;                  /*reducing logo size*/
	height: 10rem;
	padding: 1rem;                  /*adding padding*/
	border-radius: 100%;           /*making images circular*/
}
.left
{
	text-align: left;              /*aligning the image*/
}
.right
{
	text-align: right;              /*aligning the image*/
}
/* Navbar */
.navbar
{
	background-color: #294a70;   /*background of navigation bar*/
	font-size: 1.2rem;           /*ssets the font size of menu items*/
	padding: 4px;           /*set padding in menu*/
}
.nav-item:hover
{
	background-color: #ffab1f;   /* background colort of an itme on hover*/
}

.nav-item
{
	text-align: center;
	margin: auto;
	padding: 2px;
}

.dropdown-menu
{
	background-color: #294a70;   /*background of dropdown-menu*/	
}

.dropdown-item:hover
{
	color: #ffffff; /*ovverides the links turining black*/
	background-color: #ffab1f;  /* background-color on hover*/
}

.dropdown-item
{
	color:#ffffff;  /*text-color dropdown menu items*/
}
.carousel
{
	text-align: center;/*aligns the each item including the buttons */
}

.carousel-inner
{
	text-align: center; /*aligns the images */
}

.carousel-inner img
{
	width: 20%;        /*changing image size*/ 
}

.footerHeader
{
	background-color: #294a70; /*color of the footers background*/
	color:#ffffff;  /*text color to white*/
}

.footerHeader iframe
{
	width: auto;  /* setting the size of the map to adjust according to the page*/
	height: auto;  /* setting the size of the map to adjust according to the page*/
}

.footerHeader .container img
{
	width: 32px;      /*reducing the size of the icons*/
}