/*styles for all of the webpage*/

.basic
{
	font-family: 'Lora', serif; 	/*setting the basic font styles*/ 
}

button:focus 
{
	outline:0;           			/* Stops the blue outline on click*/
}

.col,.col-sm-3,.col-sm-9
{
	padding: 0;
	width: auto;
}
.row
{
	margin: 0;
}

/*media Queries to make the website mobile friendly*/

@media (min-width: 768px)
{
	.hide-if-large-screen
	{
		display:none;                   /* hides the logo on resize*/ 
	}
}

@media (max-width: 767px)
{
	.hide-if-small-screen
	{
		display:none;                   /* hides on resize*/ 
	}
}

/*header*/
#TPC-LOGO>span
{
	position: relative;              
	top: 1.8rem;                   /*setting the logo near the bottom*/
}

#TPC-text
{
	font-size: 2.5rem;
	font-weight: bolder;            /*Adjusing the font-size and weight*/
}

/* Navbar*/

.nav
{
	background-color: #294a70;   /*background of navigation bar*/
	font-size: 1.4rem;           /*ssets the font size of menu items*/
	padding: 0px;                /*set padding in menu*/
	margin-bottom: 2px;
}

.nav-item:hover
{
	background-color: #ffab1f;   /* background colort of an itme on hover*/
}

.nav a
{
	color: white;                /*setting the text colour of link to white*/
}

.nav-item
{
	text-align: center;			/*aligning itmes to center*/
	margin: auto;               /*aligning itmes to center*/
	padding: 2px;               /*adding padding*/
}

/*Nav-menu and logo*/

.right
{
	text-align: right;          /*Right aliging the items inside*/
}


/*Menu-button*/

.menu-button
{
	background-color: #294a70;   /*Color to the default*/
	font-weight: bold;           
	color: white;
	font-size: 1.5rem;
	margin-bottom: 3px;
	border: none;
}

.navbar-toggler-icon
{
	color: white;                /*setting the three dashes to color white*/
}

.menu-button:hover
{
	background-color:#ffab1f;    /*default hover color*/
}

.show-on-click
{
	display: none;               /*The class that toggles the menu*/
}

.nav-menu
{
	width: 70%;                  /*nav menu decrease width center align it */
	background-color: #294a70;
	text-align: center;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
	border-radius: 4%;
}

.nav-menu-item
{
	text-align: center;        /*formatting for each menu item*/
	margin: auto;
	padding: 2px;
	font-size: 1.2rem;
	display: block;
}

.nav-menu>a
{
	text-decoration:none;      /*anchor tag text to not show underline*/
	color: white;
}

.nav-menu-item:hover
{
	background-color: #ffab1f;    /*Default hover color*/
}

.nav-menu-item:active
{
	background-color: #ffab1f; /*Default active colour*/
}

/*Dropdown menu additional features*/

.dropdown-menu
{
	background-color: #294a70;   /*background of dropdown-menu*/	
}

.dropdown-item:hover
{
	color: #ffffff;             /*ovverides the links turining black*/
	background-color: #ffab1f;  /* background-color on hover*/
}
.dropdown-item:active
{
	background-color: #ffab1f;
}

.dropdown-item
{
	font-size: 1.3rem;
	color:#ffffff;              /*text-color dropdown menu items*/
}

/*Carousel*/

.carousel
{
	text-align: center; /*aligns the each item including the buttons */
}

.carousel-inner
{
	text-align: center; /*aligns the images */
}

.carousel-inner img
{
	width: 15%;        /*changing image size*/ 
}


/*Content and Quicklinks*/

.content-and-links
{
	padding: 0;
	margin:0;
}

/*Content*/
.content-area
{
	margin-top: 4px;
	width: 100%;
}

.content
{
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 1%;
	height: auto;
	box-shadow: 2px 2px 5px 1px grey, -2px -2px 5px 1px grey;
}

/*QuickLinks*/

.fixed
{
	position: fixed;
	right: 8px;
	z-index: 2;
}

.quick-links-button
{
	margin-top: 4px;
	margin-right: 0px;
	background-color: #ffab1f;   /*Color to the default*/
	font-weight: bold;           
	color: white;
	font-size: 1.5rem;
	margin-bottom: 3px;
	border: none;
}

.quick-links
{

	margin-top: 4px;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 1.6rem;
	border:solid 0.4rem #294a70;
	border-radius: 5%;
	padding: 0 15px;
}

.quick-links>a
{
	text-decoration:none;
	color: black;
}

.quick-links-item
{
	display: block;
	border-bottom:solid 0.2rem #ffffff;
}

.quick-links-item:active
{
	background-color: #ffab1f;
	color: #ffffff
}

.quick-links-item:hover
{
	color: #ffffff;
	background-color: #ffab1f;
}

.quick-links-item:nth-child(4)
{
	border:none;
}

.display-on-click
{
	display: inline-block; 
}

@media(max-width: 575px)
{
	.display-on-click
	{
		position: fixed;
		right: 0;
	}
}

/*Footer*/
.footerHeader
{
	text-align: center;
	background-color: #294a70; /*color of the footers background*/
	color:#ffffff;  /*text color to white*/
}

.footerHeader iframe
{
	width: 30%;  /* setting the size of the map to adjust according to the page*/
	height: 30%;  /* setting the size of the map to adjust according to the page*/
}

.footerHeader .container img
{
	width: 32px;      /*reducing the size of the icons*/	
}
