/*styles for all of the webpage*/
.basic
{
	font-family: 'Lora', serif;
}
button:focus 
{
	outline:0;           /* Stops the blue outline on click*/
}
/*header*/
.reduced-size
{
	padding: 1rem;                 /*adding padding*/
	border-radius: 100%;           /*making images circular*/
}

.col-sm-4
{
	text-align: center;	
}
/* Navbar*/
.nav
{
	background-color: #294a70;   /*background of navigation bar*/
	font-size: 1.2rem;           /*ssets the font size of menu items*/
	padding: 4px;                /*set padding in menu*/
	margin-bottom: 2px;
}
.nav-item:hover
{
	background-color: #ffab1f;   /* background colort of an itme on hover*/
}
.nav a
{
	color: white;
}

.nav-item
{
	text-align: center;
	margin: auto;
	padding: 2px;
}
/*Nav-menu and logo*/
.right
{
	text-align: right;
}
.navbar-brand
{
	font-weight: bold;
	font-size: 2rem;
}

/*Menu-button*/
.menu-button
{
	background-color: #294a70;
	font-weight: bold;
	color: white;
	font-size: 1.5rem;
	margin-bottom: 3px;
	border: none;
}
.navbar-toggler-icon

{
	color: white;
}
.menu-button:hover
{
	background-color:#ffab1f; 
}
.show-on-click
{
	display: none;
}
.nav-menu
{
	width: 70%;
	background-color: #294a70;
	text-align: center;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
	border-radius: 4%;
}
.nav-menu-item
{
	text-align: center;
	margin: auto;
	padding: 2px;
	font-size: 1rem;
	display: block;
}
.nav-menu>a
{
	text-decoration:none;
	color: white;
}
.nav-menu-item:hover
{
	background-color: #ffab1f;
}

/*Dropdown menu additional features*/
.dropdown-menu
{
	background-color: #294a70;   /*background of dropdown-menu*/	
}

.dropdown-item:hover
{
	color: #ffffff;             /*ovverides the links turining black*/
	background-color: #ffab1f;  /* background-color on hover*/
}

.dropdown-item
{
	color:#ffffff;              /*text-color dropdown menu items*/
}

/*Carousel*/
.carousel
{
	text-align: center; /*aligns the each item including the buttons */
}

.carousel-inner
{
	text-align: center; /*aligns the images */
}

.carousel-inner img
{
	width: 20%;        /*changing image size*/ 
}

.footerHeader
{
	text-align: center;
	background-color: #294a70; /*color of the footers background*/
	color:#ffffff;  /*text color to white*/
}

.footerHeader iframe
{
	width: auto;  /* setting the size of the map to adjust according to the page*/
	height: auto;  /* setting the size of the map to adjust according to the page*/
}

.footerHeader .container img
{
	width: 32px;      /*reducing the size of the icons*/

}

/*media Queries to make the website mobile friendly*/
@media (min-width: 676px)
{
	.hide-if-large-screen
	{
		display:none;                   /* hides the logo on resize*/ 
	}
}
@media (max-width: 676px)
{
	.hide-if-small-screen
	{
		display:none;                   /* hides on resize*/ 
	}
}